<footer class="mt-auto border-top bg-light">
    <div class="container my-4">
        <p><a href="{{ '/' | relative_url }}">{{ site.title }}</a> | {{ site.description }}, {{ site.author }} {{ site.year }}</p><!-- Button trigger modal -->
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Mentions légales
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mentions légales</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Responsable de la publication : Cédric Poilly</p>
        <p>Adresse de contact : c.poilly@gmail.com</p>
        <p>Hébergeur : Github pages</p>
        <p>Développeur Web : J. LAMBERT</p>
        <p>Aucune donnée n'est collectée ni traitée via ce site 🥰</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
    </div>
</footer>